<div class="product-details" *ngIf="product">
  <div class="container">
    <section class="mt-5">
      <div class="row">
        <div class="col-12 col-lg-5 px-2 px-sm-2 px-md-2 px-lg-0">
          <div class="product-container">


            <div class="image-section">
                <img [src]="product.processedImg" alt="{{product.name_prod}}" style="height: 300px;width: 382px;">
            </div>

      
        <div class="col-md-12 col-lg-7 px-2 px-sm-2 px-md-2 px-lg-0" style="margin-left: 20px;">
          <div class="col-lg-12 col-md-12 mb-4">
   
            <h1 class="h4 font-weight-semibold text-secondary">
              {{product.name_prod}}
            </h1>
            <div class="my-2 d-flex align-items-center">
              <span class="text-primary h5 font-weight-bold">${{product.price}}</span>
     
            </div>
            <div class="mb-3 border-bottom pb-3">
              <p class="text-truncate-3">
                {{product.description_prod}}
              </p>
            </div>

            <div class="my-3 category-tag">
              <span class="font-weight-bold text-secondary">Category:</span>
              <a [routerLink]="['/category-products', product.categoryId]" class="text-primary ml-1 text-decoration-none ">{{product.categoryName}}</a>
            </div>

     
            <div class="my-3">
                  <a [routerLink]="['/login']" class="btn btn-primary btn-block ms-3 py-2"><i class="fa fa-shopping-cart"></i>
                    <span class="d-none d-md-inline-block d-lg-inline-block">Add to cart</span></a>
                </div>
              </div>
            </div>
     
          </div>
  
        </div>
     
    </div>
    </section>

  </div>
</div>
