
<div class="details-container" *ngIf="transaction">
  <div class="product-card">


    <div class="info-section">
      <h1>Transaction Details</h1>
     <div> User : <span class="category-badge">{{transaction.userName}}</span></div>
     <div> Order : <span class="category-badge">{{transaction.orderId}}</span></div>
    <!--- <div> Stripe Token : <span class="category-badge">{{transaction.stripeToken}}</span></div> --->
        <p> Amount : {{transaction.amount | currency:'USD'}}</p>
        <p>Date: {{transaction.datePayment | date:'dd/MM/yyyy'}}</p>
      <!-- Ajoutez un bouton de retour -->
      <button mat-raised-button color="primary" [routerLink]="'/admin/transactions'">
        <mat-icon>arrow_back</mat-icon>
        Back to Transactions
      </button>
    </div>
  </div>
</div>