<div class="row">
  <div class="col-lg-3 col-6">
    <div class="small-box text-bg-success">
      <div class="inner">
        <h3>{{ purchasedOrders.length }}</h3>
        <p>Total Sales (Purchased)</p>
      </div>
      <div class="icon"><i class="bi bi-cart-check"></i></div>
    </div>
  </div>

  <div class="col-lg-12">
    <div class="card mb-4">
      <div class="card-header"><h3 class="card-title">Monthly Sales Performance</h3></div>
      <div class="card-body">
        <canvas id="salesChart" height="300"></canvas>
      </div>
    </div>
  </div>
  
</div>