<div class="container">
        <h2>Update Category</h2>
    <form [formGroup]="categoryForm" (ngSubmit)="updateCategory()">

   
        <mat-form-field appearance="outline" class="form-field">
            <mat-label>Name Of Category</mat-label>
            <input matInput type="text" placeholder="Name" formControlName="name_cat">
            <mat-error *ngIf="categoryForm.get('name_cat')?.hasError('required')">
                This Input is required!
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
            <mat-label>Description</mat-label>
            <textarea matInput  placeholder="Description" formControlName="description_cat"></textarea>
            <mat-error *ngIf="categoryForm.get('description_cat')?.hasError('required')">
                This Input is required!
            </mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Update Category</button>

    </form>
</div>