
<div class="details-container" *ngIf="order">
  <div class="product-card">


    <div class="info-section">
      <h1>Order Details</h1>
     <div> User : <span class="category-badge">{{order.userName}}</span></div>
      <p>Amount: {{order.amount}}</p>
      <p class="description">Description :{{order.orderDescription}}</p>
      <p>Phone: {{order.phone}}</p>
        <p>Date: {{order.date | date:'dd/MM/yyyy'}}</p>
        <p>Status: <ng-container [ngSwitch]="order.orderStatus">    
            <span *ngSwitchCase="'Pending'" class="badge bg-warning text-dark">Pending</span>   
                    
            <span *ngSwitchCase="'Placed'" class="badge bg-info text-dark">Placed</span>
            <span *ngSwitchCase="'Purchased'" class="badge bg-success">Purchased</span>
        </ng-container></p>
      
      <!-- Ajoutez un bouton de retour -->
      <button mat-raised-button color="primary" [routerLink]="'/admin/orders'">
        <mat-icon>arrow_back</mat-icon>
        Back to Orders
      </button>
    </div>
  </div>
</div>