 <div class="container my-5">
 <div class="row account-container">
    <div class="col-lg-3 sidebar p-0">
        <app-customer-sidebar></app-customer-sidebar>
    </div>
    <div class="col-lg-9 main-content">
                     <div class="card mb-4">
                        <div class="card-header bg-white d-flex justify-content-between align-items-center">
                            <h5 class="mb-0">Billing Items</h5>
                            <a href="/customer/my-notifications" class="btn btn-sm btn-outline-primary">View All</a>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Title</th>
                                            <th>Message</th>
                                            <th>Read Status</th>
                                            <th>created At</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let notification of myNotifications">
                                            <td>{{ notification.title }}</td>
                                            <td>{{ notification.message }}</td>
                                            <td>{{ notification.isRead ? 'Read' : 'Unread' }}</td>
                                            <td>{{ notification.createdAt | date:'dd/MM/yyyy' }}</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
    </div>
</div>
</div>